* {
    box-sizing: border-box;
  }
  
  body {
    margin: 4vw;
    font-family: 'Ariel', sans-serif;
    font-size: 5vw;
    color : #000;
    background: radial-gradient(circle, rgba(159,0,0,1) 0%, rgba(159,147,98,1) 100%);
  }

  ::placeholder {
    color: rgb(44, 178, 255);
    text-shadow: 2px 2px white;
    font-size: 1.5em;
  }
  .thought {
    font-family: 'Ariel', sans-serif;
    text-shadow: 2px 2px rgb(44, 178, 255);
    font-size: 5vw;
    color : #fff;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    display: inline-block;
  }

  .mail-it {
    cursor: pointer;
    background-color: none;
    color: #fff;
    text-shadow: 2px 2px rgb(0, 0, 0);
    border: 1px solid #000;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
  }

  .video {
    padding:55.97% 0 0 0;
    position:relative;
    margin: 4vw;
  }

  /*#memoriesPoem {
    font-family: 'Ariel', sans-serif;
    text-shadow: 2px 2px rgb(44, 178, 255);
    font-size: 5vw;
    color : #ffffffb4;
    text-align: justify;
    text-justify: auto;
  }
*/
  .memoriesPoem {
    font-family: 'Ariel', sans-serif;
    text-shadow: 2px 2px rgb(44, 178, 255);
    font-size: 5vw;
    color : #ffffffb4;
    text-align: justify;
    text-justify: auto;
    margin: 4vw;
    overflow: scroll;
  }