* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Ariel', sans-serif;
    color : #fff;
    text-shadow: 2px 2px rgb(44, 178, 255);
    background: rgb(187,0,0);
    background: radial-gradient(circle, rgba(159,0,0,1) 0%, rgba(159,147,98,1) 100%);
  }
  .thought {
    background: none;
    border: none;
    border-bottom: 1px solid black;
  }

  .mail-it {
    cursor: pointer;
  }