* {
    box-sizing: border-box;
  }
  
  body {
    background: radial-gradient(circle, rgba(159,0,0,1) 0%, rgba(159,147,98,1) 100%);
    margin: 4vw;
    font-family: 'Ariel', sans-serif;
    font-size: 5vw;
    color : #000;
    text-align: justify;
    text-justify: auto;
  }

  img {
    /* box-shadow: 5px 5px 20px #FFFFFF; */
    border: 1px dotted black;
    animation: shake 9.5s; 
    animation-iteration-count: infinite; 
  }
  /* @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-4px, -20px) rotate(-1deg); }
    20% { transform: translate(-300px, 0px) rotate(1deg); }
    30% { transform: translate(30px, 40px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-10px, 200px) rotate(-1deg); }
    60% { transform: translate(-30px, 400px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-100px, -10px) rotate(1deg); }
    90% { transform: translate(1px, 20px) rotate(0deg); }
    100% { transform: translate(800px, -2px) rotate(-1deg); }
  } */

  #wrapper{ 
    background-image: url('images/sparkleflashslow.gif');
    background-repeat:repeat;
    background-position: top left;
    background-size: 5%;
  }
  ::placeholder {
    color: rgb(44, 178, 255);
    text-shadow: 2px 2px white;
    font-size: 1.5em;
  }
  .thought, .feeling, .activity, .career, .place, .fucked, .rather{
    font-family: 'Ariel', sans-serif;
    text-shadow: 2px 2px rgb(44, 178, 255);
    font-size: 3vw;
    color : #fff;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    width: 70vw;

  }

  .mail-it {
    cursor: pointer;
    background-color: none;
    color: #fff;
    text-shadow: 2px 2px rgb(0, 0, 0);
    border: 1px solid #000;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
  }

  .video {
    padding:55.97% 0 0 0;
    position:relative;
    margin: 4vw;
  }

  .memoriesPoem {
    font-family: 'Ariel', sans-serif;
    text-shadow: 2px 2px rgb(44, 178, 255);
    font-size: 5vw;
    color : #ffffffb4;
    text-align: justify;
    text-justify: auto;
    margin: 4vw;
    overflow: scroll;
  }

  .rose{
  max-width: 100%;
  height: auto;
  }

.mirrorImg{
  z-index: -3;
  position: absolute;
  top: 15vw;
  width: 500px;
  height: auto;
}

.lol {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73AD21;
  text-decoration: uppercase;
} 
