* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Ariel', sans-serif;
    color : #fff;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 29%, rgba(187,0,0,1) 58%, rgba(159,147,98,1) 100%);
  }

  .memoriesPoem {
    font-family: 'Ariel', sans-serif;
    text-shadow: 2px 2px rgb(44, 178, 255);
    font-size: 5vw;
    color : #ffffff;
    text-align: justify;
    text-justify: auto;
    margin: 4vw;
    margin-top: 20vw;
    overflow: scroll;
    box-shadow: 5px 5px 20px #FFFFFF;
    border: 1px dotted black;
    padding: 10px;
  }

